h1 {
    text-align: center;
    padding-top: 10%;
    text-decoration: none;
    font-size: 25px;
}

/*Text input-area*/
input, textarea {
    width: 500px;
    height: 35px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 20px;
}

button {
    width: 70px;
    height: 35px;
    border: 1px solid black;
    border-radius: 3px;
}

button:hover{
    background-color: rgb(225, 225, 225);
}

/*The box itself*/
.contact {
    padding-top: 100px;
    display: block;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
