* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

/*style the navbar*/
.navbar img {
    float: left;
    width: 80px;
    height: auto;
}

.navR {
    text-decoration: none;
    font-size: 17px;
    float: right;
    display: inline;
    color: black;
    text-align: center;
    padding: 13px;
}

.navR:hover {
    opacity: 0.7;
    text-decoration: underline red solid 2px;
}
