* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

/*style the navbar*/
.navbar {
    overflow: hidden;
    background-color: black;
}

/*navbar links*/
.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 13px;
}

.navbar a.active {
    float: left;
}

.active {
    width: 5px;
    height: auto;
}
