* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

/*navbar links*/
.navbar img {
    float: left;
    width: 70px;
    height: auto;
}

.navbar a {
    text-decoration: none;
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
}

